<section id="service" class="services-area gray-bg pt-125 pb-130">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-title text-center pb-30">
                    <h2 class="title">Our Services</h2>
                    <p >Nunc id dui at sapien faucibus fermentum ut vel diam. Nullam tempus, nunc id efficitur sagittis, urna est ultricies eros, ac porta sem turpis quis leo.</p>
                </div> <!-- section title -->
            </div>
        </div> <!-- row -->
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="single-service text-center mt-30">
                    <div class="service-icon">
                        <i class="lni-color-pallet"></i>
                    </div>
                    <div class="service-content">
                        <h4 class="service-title"><a href="#">Web Development</a></h4>
                        <p class="height200" >Makhani Infotech is primarily Custom Web Development Company. Create your business website for influential open source content management system.</p>
                        <h6 class="technology"> WordPress </h6>
                    </div>
                </div> <!-- single service -->
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="single-service text-center mt-30">
                    <div class="service-icon">
                        <i class="lni-code-alt"></i>

                    </div>
                    <div class="service-content">
                        <h4 class="service-title"><a href="#contact">Frontend Development</a></h4>
                        <p class="height200" >Makhani Infotech in frontend development ensures quick time to market and user-driven outcomes. We use modern frameworks to enable faster development of elements, responsive websites and mobility.</p>
                        <h6 class="technology"> Angular | React  | material </h6>
                    </div>
                </div> <!-- single service -->
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="single-service text-center mt-30">
                    <div class="service-icon">
                        <i class="lni-vector"></i>

                    </div>
                    <div class="service-content">
                        <h4 class="service-title"><a href="#">Backend Development</a></h4>
                        <p class="height200" >Node.js is a run-time cross-platform environment designed to create applications using Javascript on the server-side.
                            Node.js provides fast data processing and high performance
                        </p>
                        <h6 class="technology"> Node  </h6>
                    </div>
                </div> <!-- single service -->
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="single-service text-center mt-30">
                    <div class="service-icon">
                        <i class="lni-mobile"></i>
                    </div>
                    <div class="service-content">
                        <h4 class="service-title"><a href="#">Mobile App Development</a></h4>
                        <p class="height200" >Makhani Infotech creates apps for small, medium and big industries with our vast experience in managing prominent mobile platforms like Android, iPhone etc.</p>
                        <h6 class="technology">  Android Native | iOS Native  </h6>
                    </div>
                </div> <!-- single service -->
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="single-service text-center mt-30">
                    <div class="service-icon">
                        <i class="lni-website"></i>
                    </div>
                    <div class="service-content">
                        <h4 class="service-title"><a href="#">Digital Marketing</a></h4>
                        <p class="height200" >Coming soon</p>
                        <h6 class="technology">  ----- </h6>
                    </div>
                </div> <!-- single service -->
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="single-service text-center mt-30">
                    <div class="service-icon">
                        <i class="lni-support"></i>
                    </div>
                    <div class="service-content">
                        <h4 class="service-title"><a href="#">Maintenance and Support</a></h4>
                        <p class="height200" >Coming soon</p>
                        <h6 class="technology">  ----- </h6>
                    </div>
                </div> <!-- single service -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>
