<section id="work" class="work-area pt-125 pb-130">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="section-title pb-25">
                    <h2 class="title">Our Works</h2>
                    <p>Nunc id dui at sapien faucibus fermentum ut vel diam. Nullam tempus, nunc id efficitur sagittis, urna est ultricies eros, ac porta sem turpis quis leo.</p>
                </div> <!-- section title -->
            </div>
        </div> <!-- row -->
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12"  *ngFor="let item of loaderItems">
                <div class="single-work text-center mt-30">
                    <div class="work-image">
                        <img [src]="item.imgSrc" class="imaeg" alt="work">
                    </div>
                    <div class="work-overlay">
                        <div class="work-content">
                            <h3 class="work-title">{{item.stack}}</h3>
                            <ul>
                                                    <li><a [href]="item.link" target="_blank"><i class="lni-link"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div> <!-- single work -->

            </div>
        </div> 
    </div> 
</section>
