

  <!--====== PRELOADER PART START ======-->

 <app-pre-loader></app-pre-loader>
  <!--====== PRELOADER ENDS START ======-->

  <!--====== HEADER PART START ======-->
<app-header></app-header>

  <!--====== HEADER PART ENDS ======-->

  <!--====== ABOUT PART START ======-->

 <!-- <app-about></app-about> -->
  <!--====== ABOUT PART ENDS ======-->

  <!--====== SERVICES PART START ======-->

<app-service></app-service>
  <!--====== SERVICES PART ENDS ======-->

  <!--====== CALL TO ACTION PART START ======-->

<app-call-to-action></app-call-to-action>
  <!--====== CALL TO ACTION PART ENDS ======-->

  <!--====== WORK PART START ======-->

<app-work></app-work>
  <!--====== WORK PART ENDS ======-->

  <!--====== PRICING PART START ======-->
<app-pricing></app-pricing>
  <!--====== PRICING PART ENDS ======-->

  <!--====== BLOG PART START ======-->

<!-- <app-blog></app-blog> -->
  <!--====== BLOG PART ENDS ======-->

  <!--====== CONTACT PART START ======-->
  <app-add-testonimal></app-add-testonimal>
<app-contact></app-contact>

  <!--====== CONTACT PART ENDS ======-->

  <!--====== FOOTER PART START ======-->

<app-footer></app-footer>
