
<h2 class="title">Our happy clients</h2>
<div class="slider">

    <input type="radio" name="slider" title="slide1" checked="checked" class="slider__nav"/>
    <input type="radio" name="slider" title="slide2" class="slider__nav"/>
    <input type="radio" name="slider" title="slide3" class="slider__nav"/>
    <input type="radio" name="slider" title="slide4" class="slider__nav"/>
    <div class="slider__inner">
      <div class="slider__contents">

        <p class="slider__txt">I really enjoyed working with Samir. He is very knowledgeable, professional and always goes above and beyond in what was expected. I look forward to working with him in the near future.</p>
        <h6 class="slider__image ">
           Upwork client
        </h6> 
      </div>
      <div class="slider__contents">
        <p class="slider__txt">His is a very Great developer and has a wide range of Rest API knowledge. Easy to work on with this person.</p>
        <h6 class="slider__image ">
          Upwork client 
        </h6>
      </div>
      <div class="slider__contents">
        <p class="slider__txt">He has done a great job for WhyDonate as a front-end developer! He worked on our Angular UI for more than a year. He is very friendly and nice to work with!</p>
        <h6 class="slider__image ">
           Whydonate (Niels Corver)
        </h6>
      </div>
      <div class="slider__contents">
        <p class="slider__txt">Working with his team has been a great pleasure. They are very experienced front-end developers with some good leadership skills. I will work with him again.</p>
        <h6 class="slider__image ">
          Kinnect (Dilip K.)
       </h6>
      </div>
    </div>
  </div>